Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
cssutils==1.0
itsdangerous==0.23
node==0.9.12
odict==1.5.1
plumber==1.2
python-dateutil==2.2
pytz==2014.2
redis==2.9.1
rq==0.3.13
selenium==2.41.0
six==1.6.1
times==0.6.2
wsgiref==0.1.2
zope.component==4.2.1
zope.deprecation==4.1.1
zope.event==4.0.3
zope.interface==4.1.1
zope.lifecycleevent==4.0.3
