/* @override 
	http://127.0.0.1:5000/static/css/styles.css */

* { margin: 0; padding: 0; }

body { 
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0; }

:focus { outline: 0; }
	
.clearfix:before, 
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.size1of12{float: left; width: 8%;}
.size11of12{float: left; width: 92%;}
.r-pad { padding-right: 20px; }

.row { 
	border-bottom: 1px solid #edeceb;
	margin: 0 0 25px;
	padding-bottom: 30px; }

#header {
	background-color: #222d3a;
	border-bottom: 2px solid #0dc3ff;
	padding: 10px 0 15px; }
	
#header-inner {
	margin: 0 auto;
	width: 900px; }
	
	#header-inner h1 { 
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3em;
		line-height: 1.1;
		margin: 0; }
		
		#header-inner h1 span:first-child { color: #0dc3ff; }
		
		#header-inner h1 span:last-child {
			color: #b7c5d4;
			display: block;
			font-size: .52em;
			font-weight: 300; }

	#header-inner h1 a {
		color: #f0f0f0;
		transition: color 0.5s; }
	
	#header-inner h1 a:hover { color: #fff; }

#wrapper {
	height: 100%;
	padding: 40px 0; }

#content {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 900px; }
	
#overlay {
	background-color: rgba(244, 251, 255, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; }
	
h2 { 
	color: #0dc3ff;
	font-size: 1.9em;
	font-weight: 300;
	margin: 0 0 15px; }

ul.flash { padding: 0; }

	ul.flash li {
		background-color: #f9f892;
		border: 1px solid #dbd966;
		border-radius: 4px;
		color: #444;
		font-style: italic;
		padding: 8px;
		list-style-type: none; }
		
textarea { 
	border: 1px solid #bfcbd9;
	border-radius: 4px;
    display: block;
    font: normal .75em/1.5 Consolas, Monaco, monospace;
    padding: 6px 12px;
    width: 100%; }

    textarea:focus {
       border-color: rgba(13, 195, 255, .8);
       outline: 0;
       box-shadow: 0 0 4px rgba(0, 163, 217, .6); }

.deleted {
    background-color: #f8fafc;
    border: 1px solid #edeceb;
    border-radius: 4px;
    padding: 10px 20px 20px;
    margin-bottom: 14px; }

    .deleted ul { padding: 0; }

    .deleted ul li {
    	border-bottom: 1px solid #cdd3d8;
        font: normal .75em/1.5 Consolas, Monaco, monospace;
        list-style-type: none;
        padding: 3px 0; }
        
	.deleted ul li:first-child { margin-top: 0; }
	
	.deleted + .deleted ul li { padding: 10px 0 8px; }
	
		.deleted ul li:first-child { padding-top: 0; }
	
	.deleted span.bold { 
		background-color: #dce2e7;
		border: 1px solid #bfcbd9;
		border-radius: 3px;
		padding: 2px 3px; }
		
	.deleted span.rule {
		display: block;
		font-size: .9em;
		margin: 4px 0 0 25px; }
	
	.deleted span.italic { 
		font: bold 1em/1 sans-serif;
		color: #75889f;
		font-style: italic; }

.stylesheet h2 {
    border-top: 1px solid #edeceb;
    margin-top: 40px;
    padding-top: 30px; }
    
label {
	color: #75889f;
	display: block;
	font-size: 1.1em;
	font-weight: bold; }
	
	label.sub {
		font-weight: normal;
		font-size: 1em; }
	
	textarea + label { margin-top: 30px; }
	
a { text-decoration: none; }

input[type="submit"],
a.button {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0px 2px 0px rgba(33, 103, 148, 1);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 2px 0px rgba(33, 103, 148, 1);
    background: -moz-linear-gradient( top, #0cb7f0 0%, #0dc3ff);
    background: -webkit-gradient( linear, left top, left bottom, from(#0cb7f0), to(#0dc3ff));
    background: -ms-linear-gradient( top, #0cb7f0 0%, #0dc3ff);
    border: 0px solid #ffbf00;
    border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(33, 103, 148, 1);
    color: #fff;
    font: bold .9em/1 Lato, sans-serif;
    margin: 15px 0;
    padding: 8px 15px;
    text-transform: uppercase; }
    
    input[type="submit"]:hover,
    a.button:hover {
    	background: -moz-linear-gradient( top, #0098ca 0%, #00a3d9);
	    background: -webkit-gradient( linear, left top, left bottom, from(#0098ca), to(#00a3d9));
		background: -ms-linear-gradient( top, #0098ca 0%, #00a3d9);
		cursor: pointer; }
		
	input[type="submit"]:active,
    a.button:active {
		position: relative;
		top: 1px; }

p.small {
	color: #777;
	font-size: .8em;
	margin: 0 0 5px; }
	
h2.step { 
	font-size: 1.5em;
	font-weight: bold;
	margin: 4px 0 0; }
	
	h2.step span {
		background-color: #0dc3ff;
		border-radius: 24px;
		color: #fff;
		line-height: 2;
		padding: 8px 17px; }

input { margin: 8px 0; }

input[type=radio] { margin-right: 5px; }

span.label_default {
	color: #bfcbd9;
	font-size: .8em;
	font-weight: bold;
	font-style: italic; }

.tooltip_link {
	color: #49b6ff;
	background-color: #dce2e7;
	border: 1px solid #d1d8dd;
	border-radius: 2px;
	font-weight: bold;
	margin-left: 2px;
	padding: 1px 4px; }
	
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 1em;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0); }

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90); }
	
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px; }

.tooltip-inner {
	max-width: 225px;
	padding: 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #293545;
	border-radius: 4px; }
  
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid; }
  
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #333333; }
  
/* @group Diff Table */

table.diff {
	border: 1px solid #bfcbd9;
	border-radius: 4px;
	border-collapse: separate;
	color: #5b5b5b;
	font-family: Consolas, Monaco, monospace;
	font-size: .7em;
	max-width: 900px;
	word-wrap: break-word; }

table.diff colgroup { border: 0; }

table.diff td.diff_next { display: none; }

table.diff td {
	border-bottom: 1px solid #edeceb;
	line-height: 1.5;
	max-width: 416px;
	padding: 2px 5px;
	white-space: normal; }

table.diff span.diff_sub,
table.diff span.diff_add {
	display: block;
	margin: -2px -5px;
	padding: 2px 5px; }
	
table.diff span.diff_sub {
	background-color: #e4b9b9;
	color: #000; }

table.diff span.diff_add { background-color: #a6dbc4; }

table.diff .diff_header {
	background-color: #dce2e7;
	padding: 0 2px;
	text-align: right; }

/* @end */