/* @override 
	http://127.0.0.1:5000/static/css/styles.css */
	
body { font-family: sans-serif; }
	
#wrapper {
	margin: 0 auto;
	width: 800px; }
	
h1 {
	font-size: 3em; }
	
	h1 span:first-child { color: #00c9ff; }
	
	h1 span:last-child {
		display: block;
		font-size: .4em; }
	
textarea { 
    min-height: 50px;
    width: 100%; }
    
label {
	display: block;
	font-size: 1.1em;
	font-weight: bold; }
	
	textarea + label { margin-top: 30px; }
	
input[type="submit"] {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
    background: -moz-linear-gradient( top, #f57c20 0%, #f68a38);
    background: -webkit-gradient( linear, left top, left bottom, from(#f57c20), to(#f68a38));
    background: -ms-linear-gradient( top, #f57c20 0%, #f68a38);
    border: 0px solid #ffbf00;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
    color: #fff;
    font: bold 90%/1 Arial, sans-serif;
    margin: 15px 0;
    padding: 8px 15px;
    text-transform: uppercase; }
    
    input[type="submit"]:hover {
    	background: -moz-linear-gradient( top, #e5690a 0%, #e86a0a);
	    background: -webkit-gradient( linear, left top, left bottom, from(#ee7020), to(#ee701d));
		background: -ms-linear-gradient( top, #e5690a 0%, #e86a0a);
		cursor: pointer; }
		
	input[type="submit"]:active {
		position: relative;
		top: 1px; }

p.small {
	color: #777;
	font-size: .8em;
	margin: 0 0 5px; }
	
.stylesheet code { white-space: pre-wrap; }