{% extends 'master.html' %}

{% block body %}
        <ul class="flash">
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>

        <form method="post" action="/results">
            <label>Paste URLs to the HTML files to parse</label>
                <p class="small">Separate multiple URLs with a comma, and don't forget http://</p>
                <textarea cols="80" rows="5" name="html" placeholder="ex. http://mysite.com, http://mysite.com/about"></textarea>
            <label>Paste URLs to the CSS files to parse</label>
                <p class="small">Separate multiple URLs with a comma, and don't forget http://</p>
                <textarea cols="80" rows="5" name="css" placeholder="ex. http://mysite.com/assets/styles.css"></textarea>
            <input type="submit" onclick="overlay.show();">
        </form>

<script>
    var overlay = {
    
    click_on_overlay_hide: false,

    show_loading_image: true,

    loading_image: "../static/img/ajax-loader-1.gif",

    $: function(id){
        return document.getElementById(id);
    },

    init: function(){
        var ol_div = document.createElement("div");

        ol_div.id = "overlay";
        ol_div.style.display = "none";
        ol_div.onclick = (this.click_on_overlay_hide)? overlay.hide : null;

        if(this.show_loading_image){
            var l_img = document.createElement("img");

            l_img.src = this.loading_image;
            l_img.style.position = "absolute";
            l_img.style.top = (((window.innerHeight)? window.innerHeight : document.body.clientHeight) / 2.5) + "px";
            l_img.style.left = (((window.innerWidth)? window.innerWidth : document.body.clientWidth) / 2.25) + "px";

            ol_div.appendChild(l_img);
        }

        document.body.appendChild(ol_div);
    },

    show: function(){
        if(this.$("overlay")){
            this.$("overlay").style.display = "";
        }
    },

    hide: function(){
        if(overlay.$("overlay")){
            overlay.$("overlay").style.display = "none";
        }
    }

};

</script>

{% endblock %}