body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arimo', sans-serif; }

#verticalTab.resp-vtabs { position: relative; }

.resp-tabs-list li {
    background-color: #d4d4d4;
    color: #646464;
    font-size: 95%;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left; }

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.88);
    clear: left; }

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none; }

.resp-tab-content {
    display: none;
    padding: 40px; }

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important; }

.resp-tab-active {
    border-bottom: none;
    background-color: #fff; }

.resp-content-active,
.resp-accordion-active { display: block }

.resp-tab-content { border: 1px solid #c1c1c1 }

h2.resp-accordion {
    color: #002244;
    font-size: 100%;
/*    border: 1px solid #c1c1c1;*/
    border-top: 2px solid #f47321;
    margin: 0px;
    padding: 10px 15px; }

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0px !important;
    padding: 10px 15px !important; }

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue; }

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 27%; 
    margin-top: 10px;}

.resp-vtabs .resp-tabs-list li {
    border-left: 3px solid #f47321;
    display: block;
    padding: 10px 10px !important;
    margin: 8px 0;
    cursor: pointer;
    float: none; }  
    
    .resp-vtabs .resp-tabs-list li:hover {
        background-color: #fff;
        color: #f47321; }
        
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.88);
    float: left;
    width: 71.9%;
    min-height: 350px;
    border-radius: 4px;
    clear: none;
    box-shadow: 0 2px 5px #444; 
    -webkit-box-shadow: 0 2px 5px #444;
    -moz-box-shadow: 0 2px 5px #444; }

.resp-vtabs .resp-tab-content { border: none }

.resp-vtabs li.resp-tab-active {
    border-right: none;
    background-color: #fff;
    color: #f47321;
    font-size: 103%;
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 10px 10px !important;
    border-bottom: 2px solid #aaaaaa; }
     
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1; }

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797; }

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important }

.resp-easy-accordion  h2.resp-accordion { display: block }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1 }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important }

.resp-jfit {
    width: 100%;
    margin: 0px; }

.resp-tab-content-active { display: block }

h2.resp-accordion:first-child { border-top: 0!important }

/*Breakpoint to set the accordion when screen size changed*/
@media only screen and (max-width: 800px) { 
    .utility,
    .drawer-button-container { display: none; }
    
    #topBar { padding: 8px 20px; }
    
    img.logo { margin: 0 auto; }
    
    #tab-wrapper { width: 90%; }
    
    ul.resp-tabs-list { display: none }

    h2.resp-accordion { display: block }
    
    .resp-tab-content {
        display: none;
        padding: 25px; }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none; }
        
    .resp-accordion-closed { display: none !important }

    .resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important } 
    
}
    

@media only screen and (max-width: 480px) {

    img.logo { 
        max-width: 238px;
        margin: 0 auto; }
        
    ul.logo-small li a { width: 280px; }

}
